.login_container {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid red;
}

.login_container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid blue;
  padding: 20px;
  align-items: center;
}

.login_container form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid green;
  padding: 20px;
  align-items: start;
}

.login_container form label {
  border: 1px solid yellow;
  padding: 20px;
  align-items: center;
}

.login_container form input {
  border: 1px solid purple;
  padding: 20px;
  align-items: center;
  font-size: 16px;
}

.login_container_welcome_container {
  border: 1px solid orange;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
