@media screen and (max-width: 768px) {
  .login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 6px auto;
    max-height: 667px;
    background-color: var(--background);
    border: 2px solid var(--text-primary);
    border-radius: 16px;
  }
  .login_container_title {
    padding: 1%;
    max-height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_container_title_text {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_container_title_text h1 {
    font-size: 24px;
    text-align: center;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
    padding: 10px;
  }
  .login_container_title_text ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding: 4px;
  }
  .login_container_title_text ul li {
    font-weight: 500;
    padding: 4px;
  }
  .login_container_title_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-primary);
    background-color: var(--shade-medium);
    border-radius: 16px;
    width: 100%;
  }
  .login_container_title_buttons_container {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 14px;
  }
  .login_form_container {
    padding: 5px;
    max-height: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .login_form_container h1 {
    font-size: 24px;
    text-align: center;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
    width: 100%;
    padding: 10px;
  }
  .login_form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
  }
  .login_form_container form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  .login_form_container form div label {
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
  }
  .login_form_container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .login_form_container_button button {
    width: 100%;
  }
  .login_form_container form div input {
    padding: 4px;
    font-size: 16px;
    text-align: start;
    width: 100%;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
  }
  .login_container_signup_container {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    column-gap: 4px;
    align-items: center;
    text-align: center;
  }
  .login_container_signup_container h4 {
    font-size: 1rem;
    text-align: center;
    padding: 4px;
  }
  .login_container_signup_container button {
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (min-width: 770px) {
  .login_container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    margin: 300px auto;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
  }
  .login_container_title {
    padding: 1%;
    grid-column: 1 / 2; /* First column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_container_title_text {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login_container_title_text h1 {
    font-size: 24px;
    text-align: center;
  }
  .login_container_title_text ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    padding: 40px;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
    margin-top: 20px;
  }
  .login_container_title_text ul li {
    font-weight: 500;
    padding: 4px;
  }
  .login_container_title_buttons {
    grid-column: 2 / 3; /* Second column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-primary);
    background-color: var(--shade-medium);
    border-radius: 16px;
    width: 100%;
  }
  .login_container_title_buttons_container {
    padding: 1%;
    grid-column: 1 / 3; /* Span both columns */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 14px;
  }
  .login_form_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .login_form_container h1 {
    font-size: 24px;
    text-align: center;
  }
  .login_form_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
  }
  .login_form_container form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }
  .login_form_container form div label {
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
  }
  .login_form_container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .login_form_container form div input {
    padding: 4px;
    font-size: 16px;
    text-align: start;
    width: 100%;
    border: 2px solid var(--text-primary);
    border-radius: 16px;
    width: 100%;
  }
  .login_container_signup_container {
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 4px;
    align-items: center;
    text-align: center;
    grid-column: 1 / -1; /* This will take the whole row */
    grid-row: 2; /* This will place it on the second row */
  }
  .login_container_signup_container h4 {
    font-size: 1rem;
    text-align: center;
    padding: 4px;
  }
  .login_container_signup_container button {
    font-size: 16px;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
}
